{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
    <title>Online Shop</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mx-auto md:px-64">

        {% block content %}
        
        {% endblock %}
    </div>
    
    {% block javascript %}
    
    {% endblock javascript %}
</body>
</html>