{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
    <title>Online Shop</title>
</head>
<body>
    <div 
        class="container mx-auto lg:px-32 xl:px-48 2xl:px-64" 
        x-bind:class="`h-[calc(100dvh-${navbarHeight})] mt-[${navbarHeight}]`" 
        x-data="{
               navbarHeight: '',
            }" 
        x-init="$nextTick(() => {
            // Computed properties must be declared in the $nextTick callback, otherwise they won't be available in the template
            var navbar = document.getElementById('navbar')
            navbarHeight = navbar.offsetHeight + 'px';
        });"
    >
        <div>
            {% include 'navbar.html' %}
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block javascript %}{% endblock javascript %}
</body>
</html>