<!-- TODO: Fix on mobile-->
<div x-data="{ 
  open: false,
  dropdownStyleLeft: '',
  dropdownHeightMobile: '',
  navbarHeight: '',
}"

x-init="$nextTick(() => {
    // Computed properties must be declared in the $nextTick callback, otherwise they won't be available in the template
    var button = document.getElementById('dropdown-button')
    var dropwdown = document.getElementById('dropdown')
    var x = button.getBoundingClientRect();
    
    dropdownStyleLeft = (x.left - dropdown.offsetWidth) + 'px';
    
    var navbar = document.getElementById('navbar')
    navbarHeight = navbar.offsetHeight + 'px';
    dropdownHeightMobile = (window.innerHeight - navbar.offsetHeight ) + 'px';
});"
>
  <nav id="navbar" class="flex justify-evenly bg-gray-100 text-blue-600 ">
    <a class="hover:underline flex flex-col items-center" href="{% url 'index' %}">
      <div>
        {% include "icons/home.html" %}
      </div>
      <p>inicio</p>
    </a>
    
    <a class="hover:underline flex flex-col items-center" href="{% url 'view_cart' %}">
      <div>
        {% include "cart_icon.html" %}
      </div>
      <p>
        carrito
      </p>
    </a>
  
    {% include "components/navbarItem.html" with text="Productos" items_list=categories login_required=False icon="shop.html" %}
    {% include "components/navbarItem.html" with text="User"      items_list=links                           icon="user.html" %}
  </nav>
</div>