{% extends 'base.html' %}

{% block content %}
  {% comment %} <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Enviar" />
  </form> {% endcomment %}
  


<div class="shadow-lg rounded-lg p-4 mt-12">
    <h1 class="text-7xl font-bold">Registrarme</h1>
    <form method="post">
        
        {% csrf_token %}
        {{ form }}
        <input class="bg-gray-100 rounded-md p-2 w-32 hover:bg-gray-300 transition w-full" type="submit" value="Registrarme"/> 
        
    </form>
</div>


{% endblock %}
