    <div class="bg-gray-200 my-2 rounded-lg border border-gray-400">
      <div class="flex bg-gray-100 text-sm rounded-t-lg px-2">
        <p>{{ order.date }}</p>
      </div>

      <div class="flex justify-between p-2">

        <div class="flex ">
          {% for product in products %}
            <img class="
              aspect-square 
              w-16 h-16 lg:w-16 lg:h-16 
              rounded-lg 
              mr-2 
              {% if forloop.counter0 < 2 %}block{% endif %} 
              {% if forloop.counter0 > 1 %}hidden md:block{% endif %}
              " 
              src="{{ product.image.url }}" alt="" 
            />
          {% endfor %}
    
          {% if amount_of_products > 4 %}
            <div class="self-center flex text-xs ">
                <!-- TODO: I think this can be simplified with obscure css tricks, may check later-->
                <p class="hidden lg:block" x-data="{ amountOfProducts: {{ amount_of_products }} - 4}" x-text="amountOfProducts + ' productos más'"></p>
                <p class="block lg:hidden" x-data="{ amountOfProducts: {{ amount_of_products }} - 2}" x-text="amountOfProducts + ' productos más'"></p>
                
            </div>
          
          {% endif %}
        </div>

        <div class="w-1/3 lg:w-48">
            <a href="{% url 'order' order.id %}">
                {% include 'components/button.html' with text='Ver pedido' color='blue' text_size='xs' width="full" class="mb-1 lg:w-48" %}
            </a>
          {% include 'components/button.html' with text='Volver a comprar' color='blue' text_size='xs' width="full" class="lg:w-48"%}
        </div>

      </div>

    </div>