<a href="{% url 'product' product.id %}" class="md:w-64 md:m-4 content-end md:px-2 py-2 rounded-md hover:ring hover:scale-105 transition">
  <img class="h-56 object-contain" src="{{ product.image_url }}" alt="" />
  <p class="mb-2 hover:underline hover:text-sky-400 font-semibold text-xs md:text-xl line-clamp-2">{{ product.name }}</p>
  <p>${{ product.price }}</p>
  <form action="{% url 'add_to_cart' product.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="w-full py-2 bg-blue-600 hover:bg-blue-500 text-white rounded-md transition">Añadir a tu carrito</button>
  </form>
</a>
